{% if item['method'] is defined %}
BOOTPROTO={{ item['method']|lower }}
{% endif %}
DEVICE={{ item['name'] }}
{% if item['method'] is defined and item['method']|lower != 'dhcp' %}
{% if item['dnsnameservers'] is defined %}
{%   for ns in item['dnsnameservers'] %}
DNS{{ loop.index }}={{ ns }}
{%   endfor %}
{% endif %}
{%   if item['gateway'] is defined %}
GATEWAY={{ item['gateway'] }}
{%   endif %}
{%   if item['address'] is defined %}
IPADDR={{ item['address'] }}
{%   endif %}
{%   if item['netmask'] is defined %}
NETMASK={{ item['netmask'] }}
{%   endif %}
{% endif %}
{% if item['mtu'] is defined %}
MTU={{ item['mtu'] }}
{% endif %}
{% if item['nm_controlled'] is defined %}
NM_CONTROLLED={{ item['nm_controlled'] }}
{% endif %}
{% if config_network_bonds %}
{%   if network_bonds is defined %}
{%     for nb in network_bonds %}
{%       for slave in nb['slaves'] %}
{%         if slave == item['name'] %}
MASTER={{ nb['name'] }}
SLAVE=yes
TYPE=Ethernet
{%         endif %}
{%       endfor %}
{%         if nb['name'] == item['name'] %}
BONDING_MASTER=yes
BONDING_OPTS={% for opt in nb['parameters'] %}{{ opt['param'] }}={{ opt['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

TYPE=Bond
{%         endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if config_network_bridges %}
{%   if network_bridges is defined %}
{%     for nbr in network_bridges %}
{%       for port in nbr['ports'] %}
{%         if port == item['name'] %}
BRIDGE={{ nbr['name'] }}
DELAY=0
TYPE=Ethernet
{%         endif %}
{%       endfor %}
{%       if nbr['name'] == item['name'] %}
TYPE=Bridge
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if config_ovs_bridges %}
{%   if ovs_bridges is defined %}
{%     if item['extra'] is defined %}
OVS_EXTRA="{{ item['extra'] }}"
{%     endif %}
{%     if item['options'] is defined %}
OVS_OPTIONS="{% for item2 in item['options'] %}{{ item2['opt'] }}={{ item2['val'] }}{% if not loop.last %} {% endif %}{% endfor %}"
{%     endif %}
{%     for nbr in ovs_bridges %}
{%       for port in nbr['ports'] %}
{%         if port == item['name'] %}
DEVICETYPE=ovs
OVS_BRIDGE={{ nbr['name'] }}
DELAY=0
TYPE=OVSPort
{%         endif %}
{%       endfor %}
{%       if nbr['name'] == item['name'] %}
DEVICETYPE=ovs
TYPE=OVSBridge
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
NAME={{ item['name'] }}
NETBOOT={{ item['netboot']|default('yes') }}
ONBOOT={{ item['onboot']|default('yes') }}
PEERDNS=yes
